<div class="jumbotron">
    <h1>Weight Addition - API</h1>
    <p class="lead">Welcome to the API endpoint for additing weights across various units (Kg, g, mg).</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>The API provides two primary methods:
        <br />1) Get a list of weight units available
        <br />2) Submit a list of various values acorss various weight units (Kg, g, mg) and get a result back.
        <br /> The feature provides all response in "mg".
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Test this API</h2>
        <p>You can test the features of this API by accessing the link below:</p>
        <p><a class="btn btn-default" href="https://testweightaddapi.azurewebsites.net/default2">C#/Code Behind Implementation... &raquo;</a></p>
    </div>
    
</div>
